<?xml version="1.0"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<providers resource="Providers.config"/>

	<!--Sql Server : SqlClient configuration-->
	<context id="SqlMapDao" default="true">
		<database>
			<provider name="sqlServer2.0" />
			<dataSource name="SqlServer" connectionString="data source=(local);database=BaseCardDB;user id=sa;password=chenkai;" />
		</database>
	</context>
</daoConfig>
