/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	font-family:Consolas;
	font-weight:bold;
	color:Black;
	width: 100%;
	text-align: left;

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	font-family:Consolas;
	font-weight:bold;
    color:Black;
	padding: 4px;
	
}
table.tablesorter thead tr .header {
	background-image: url(../Images/small_desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../Images/small_asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../Images/small_desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

th.headerSortUp { 
	background-image: url(../Images/small_asc.gif); 
	background-color: #3399FF; 
} 

th.headerSortDown { 
	background-image: url(../Images/small_desc.gif); 
	background-color: #3399FF; 
} 

th.header { 
	background-image: url(../Images/small.gif);     
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left; 
	padding-left: 20px; 
	border-right: 1px solid #dad9c7; 
	margin-left: -1px; 
} 

