<?xml version="1.0"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--Define the Provide Source File-->
	<providers resource="Providers.config"/>

	<!--Sql Server : SqlClient configuration-->
	<context id="SqlMapDao" default="true">
		<database>
			<provider name="sqlServer2.0" />
			<dataSource name="SqlServer" connectionString="data source=(local);database=BaseCardDB;user id=sa;password=chenkai;" />
		</database>
	</context>

	<daoSessionHandler id="SqlMap">
		<property name="resource" value="SqlMap.config" />
	</daoSessionHandler>
	
	<daoFactory>
		<dao interface="CustomerPersistence_PI.InterFaces.ICustomerDao,CustomerPersistence_PI" 
			 implementation="CustomerPersistence_PI.MapperDao.CustomerMapDao, CustomerPersistence_PI"/>

		<dao interface="CustomerPersistence_PI.InterFaces.IProductMapDao,CustomerPersistence_PI"
			 implementation="CustomerPersistence_PI.MapperDao.ProductMapDao ,CustomerPersistence_PI"></dao>
	</daoFactory>

	<daoSessionHandler id="SqlMap">
		<property name="resource" value="SqlMap.config" />
	</daoSessionHandler>
</daoConfig>
