<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"  
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--BAsic Setting About Configuration-->
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<providers resource="providers.config"/>
   <!--DataBase Connection Configuration-->
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="SqlServer" connectionString="data source=(local);database=BaseCardDB;user id=sa;password=chenkai;" />
	</database>

	<sqlMaps>
		<sqlMap resource="Maps/CustomerMap.xml"/>
		<sqlMap resource="Maps/ProductMap.xml"/>
	</sqlMaps>

</sqlMapConfig>